.map {
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translate(0, -70%);
  position: absolute; /* or absolute */
  top: 35%;
  left: 50%;
  /* bring your own prefixes */
}

.row-container {
  display: flex;
}

.tile-parent {
  position: relative;
  height: 64px;
  width: 64px;
}

.sprite-image {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.selected-image {
  height: 100%;
  width: 100%;
  z-index: 2;
}

.character {
  position: absolute;
  margin-left: -28px;
  margin-top: -108px;
  height: 192px;
  width: 82px;
  z-index: 2;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(45deg);
}
